<!DOCTYPE html>
<html lang="en">

    <head>
        <title>TinyApp</title>
    </head>

    <body>
        <header>
            <% include partials/_header %>
        </header>
        <h3>Your URL's:</h3>
        <% for(let key in urls) { %>
                <li>                
                    <%= urls[key]['adr'] %> --> <a href="http://localhost:8080/u/<%= key %>">http://localhost:8080/u/<%= key %></a>
                    <a href="http://localhost:8080/urls/<%= key %>"><button>Edit</button></a>
                    <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" class="btn" value="Delete Me" /></form>
                </li>
        <% } %>
        <hr />
        <h4>
            <a target="_self" href="http://localhost:8080/urls/new"><button>Shrink your URL here</button></a>
        </h4>
        <h4>
            <a target="_self" href="http://localhost:8080/urls/"><button>Refresh list of shrunken URL's</button></a>
        </h4>
    </body>
</html>